#titlediv #title {
  border-radius: 5px;
}
#gsCoachSection * {
  box-sizing: border-box;
}
#gsCoachSection {
  min-width: 255px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
  overflow: hidden;
}

.gs_coach-metafields .form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gs_coach-metafields .form-group > *:first-child {
  width: 20%;
}
.gs_coach-metafields .form-group > *:nth-child(2) {
  width: 80%;
}

.gs_coach-metafields .form-control {
  border-radius: 4px;
  padding: 5px 15px;
  box-shadow: none;
  height: auto;
  border: 1px solid #e1e1e1;
}
.gs_coach-metafields h2 {
  font-weight: 600 !important;
  padding: 8px 12px 8px 0 !important;
  font-style: italic;
}
.gs_coach-metafields a.gs_remove_image_button {
  margin-top: 8px;
  display: inline-block;
}
.gs_coach-metafields a.gs_upload_image_button {
  display: block;
  max-width: 130px;
  line-height: 0;
  outline: none !important;
}
.gs_coach-metafields a.gs_upload_image_button.button {
  display: inline-block;
  font-size: 14px;
  min-height: 40px;
  line-height: 38px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.gs_coach-metafields a.gs_upload_image_button img {
  height: auto;
  width: 100%;
  margin: 0px;
}

.gs-coach-pro-field.gs-coach-fields-disable {
  position: relative;
  > *:not(.gs-coach-pro-field--inner) {
    opacity: .3;
  }
}
.gs-coach-pro-field--inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .gs-coach-pro-field--content {
    font-size: 18px;
    background: #6472ef;
    padding: 20px 100px;
    box-shadow: 0px 0px 50px rgba(89, 97, 109, .1);
    border-radius: 3px;
    color: #fff;
    letter-spacing: 1px;
  }
}


.edit-tags-php.post-type-gs_coach #col-container #col-left,
.term-php.post-type-gs_coach #wpbody-content {
    position: relative;
}

.edit-tags-php.post-type-gs_coach,
.term-php.post-type-gs_coach {
    .gs-coach-pro-field--inner {
      backdrop-filter: blur(4px);
    }
}



.gs_coach-metafields a.button {
  font-size: 14px;
  height: 36px;
  line-height: 34px;
  padding-left: 14px;
  padding-right: 14px;
}
.gs_coach-metafields a.button,
.gs_coach-metafields a.button:hover {
  color: #6472ef;
  border-color: #6472ef;
  background: rgba(100, 114, 239, .05);
}

.gs_coach-metafields a.button:focus {
  box-shadow: 0 0 0 1px #6472ef;
}

.gs_coach-metafields a.button.remove-row {
  height: 40px;
  line-height: 38px;
}

.gs_coach-metafields a.button.remove-row,
.gs_coach-metafields a.button.remove-row:hover {
  color: #f16c6c;
  border-color: rgba(241, 108, 108, 0.3);
  background: rgba(241, 108, 108, .05%);
}
.gs_coach-metafields a.button.remove-row:focus {
  box-shadow: 0 0 0 1px #f16c6c;
}

.gs_coach-metafields tr.ui-sortable-handle {
  height: 50px;
}

.select2-container .select2-selection--single {
  height: 40px;
  border-color: #e1e1e1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
  padding-left: 12px;
  padding-right: 30px;
  color: #525258;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 6px 5px 0 5px;
  margin-left: -8px;
  margin-top: 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 5px 6px 5px;
}



.gs-coach-social--section select,
.gs-coach-social--section select + .select2-container,
#select2-gscoach-team-icon-results {
	text-transform: capitalize;
}

.gs_coach-metafields .ui-sortable-handle input {
  min-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  border-color: #e1e1e1;
}

.gs_coach-metafields .ui-sortable-handle .fa-arrows {
  color: #676875;
}
.gs_coach-metafields .ui-sortable-handle > td:nth-child(2) {
  padding-right: 10px;
}
.gs_coach-metafields .ui-sortable-handle > td:nth-child(3) {
  padding-right: 10px;
}


.gs-coach-social--section .ui-sortable-handle > td:nth-child(1),
.gs-coach-skills--section .ui-sortable-handle > td:nth-child(1) {
  width: 45px;
}
.gs-coach-social--section .ui-sortable-handle > td:nth-child(2),
.gs-coach-skills--section .ui-sortable-handle > td:nth-child(2) {
  width: 30%;
}
.gs-coach-social--section .ui-sortable-handle > td:nth-child(3),
.gs-coach-skills--section .ui-sortable-handle > td:nth-child(3) {
  width: 70%;
}
.gs-coach-social--section .ui-sortable-handle > td:nth-child(4),
.gs-coach-skills--section .ui-sortable-handle > td:nth-child(4) {
  width: auto;
}

.gs_coach-metafields a.gscoach-add-row,
.gs_coach-metafields a.gscoach-add-skill {
  margin-left: 45px;
}

.gs-coach-pro-field--content > a {
  color: #ffffff;
  text-decoration: none;
}

